@model List<Project7DayAndNight.Models.DataModels.TblTeam>

<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Ekibimiz</h4>
            <h1 class="display-4 mb-4">Uzman Takımımızla Tanışın</h1>
            <p class="mb-0">
                Lifesure olarak, sigorta sektöründeki 20 yılı aşkın deneyimimizle sizlere en güvenilir hizmeti sunuyoruz. Alanında uzman ekibimiz, yenilikçi çözümleri ve müşteri odaklı yaklaşımıyla ihtiyaçlarınıza en uygun sigorta ürünlerini sunmak için çalışıyor.
            </p>
        </div>

        <div class="row g-4">
            @* Row sadece bir kez açılıyor *@
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="@item.ImageUrl" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon">
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href="@item.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href="@item.TwitterUrl"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-2" href="@item.LinkedInUrl"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-primary btn-sm-square rounded-pill mb-0" href="@item.InstagramUrl"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="team-title p-4">
                            <h4 class="mb-0">@item.FullName</h4>
                            <p class="mb-0">Profession</p> @* İstersen burada @item.Profession kullan *@
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
